<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="Author" content="服务协议" />
    <meta name="keywords" content="服务协议" />
    <meta name="description" content="服务协议" />
    <title>服务协议</title>
    <!-- 固定的JS文件说明 -->
    <script type="text/javascript">
    new function (){
        var _self = this;
        _self.width = 768;//设置默认最大宽度
        _self.fontSize = 100;//默认字体大小
        _self.widthProportion = function(){
            var p = (document.body&&document.body.clientWidth||document.getElementsByTagName("html")[0].offsetWidth)/_self.width;
            return p>1?1:p<0.4?0.5:p;
        };//判断当前屏幕尺寸，设置的最大屏幕宽度之间的比例
        _self.changePage = function(){
            document.getElementsByTagName("html")[0].setAttribute("style","font-size:"+_self.widthProportion()*_self.fontSize+"px !important");
        }//修改根元素html的font-size的植
        _self.changePage();
        window.addEventListener('resize',function(){
            _self.changePage();
        },false);//侦听屏幕宽度变化
    };
</script>
    <link href="css/base.css" rel="stylesheet" />
    <link href="css/common.css" rel="stylesheet" />
    <style type="text/css">
    /*服务协议*/
.content-fwxy{
  padding: 0 0.3rem;
}
.content-fwxy h1{
  height: 1.3rem;
  line-height: 1.3rem;
  font-size: 0.34rem;
  text-align: center;
}
.content-fwxy h3{
  font-size: 0.26rem;
  color: #555;
  line-height: 0.4rem;
  font-weight: normal;
}
.content-fwxy p{
  font-size: 0.24rem;
  color: #888;
  line-height: 0.4rem;
}
.content-fwxy h4{
  font-size: 0.24rem;
  color: #888;
  font-weight: normal;
  line-height: 0.36rem;
}
    </style>
</head>
<body>
    <div class="content-fwxy">
        <h1>朵拉购服务协议</h1>
        <h3>前言</h3>
        <p>
            欢迎您阅读浙江朵宝网络科技有限公司（下称"朵宝科技","我们"）发布的"用户服务协议"(下称"本协议")。本协议是关于您（下称"用户","您"）在使用朵拉购软件（下称"朵拉购"）时，约定您和朵宝科技之间权利义务关系的有效协议，自您通过互联网登陆朵拉购并注册成朵拉购的用户时成立并生效。自您成为朵拉购用户之日起，至您按本协议约定的方式通知朵宝科技注销您的用户信息之日止的期间内，本协议将全面约束和规制您与朵宝科技间的权利义务关系。
        </p>
        <p style="margin-top: 0.4rem;">
            请您在使用朵拉购前务必事先认真阅读本协议中的各条款，包括用户信息使用和保护条款、免除责任条款及违约条款等，并在阅读后选择"接受"或"拒绝"本协议（未成年人审阅时应得到法定监护人的陪同）。如您拒绝本协议，您将无法使用朵拉购。
        </p>
        <h3 style="margin-top: 0.6rem;">一、 服务内容简介</h3>
        <p>朵拉购是朵宝科技公司运用网络存储服务系统，按照本协议的约定事实上通过互联网络为用户提供远程数据存储的服务。</p>
        <h3 style="margin-top: 0.6rem;">二、 用户信息的使用和保护</h3>
        <h4>1. 个人信息收集范围</h4>
        <p>
            您在使用朵拉购时进行的操作行为,包括但不限于:登陆朵拉购、浏览页面、开启产品预置功能、链接到第三方服务等行为时形成的以下个人数据信息可能会被朵宝科技获取,并用于对用户提供服务,具体包括：
        </p>
        <h4>1) 个人数据信息</h4>
        <p>A. 您使用产品时所使用的设备类型和语言、操作系统类型、宽带型;</p>
        <p>B. 您的IP (Internet Protocol)地址;</p>
        <p>C. 您登陆朵拉购时发出的访问请求及其日期、时间;</p>
        <p>
            D. 您系统的操作权限，例如拨打电话，短信（用于联系银行）,打开移动网络开关（用于客户端与服务器通联）,读取位置信息（方便推荐当地商家信息）
        </p>
        <h4>2)个人识别信息（包括个人敏感信息）</h4>
        <p>
            A.在您的明确授权下，我们会收集您的以下个人信息：身份证号、手机号码、银行卡号、银行卡网银用户名、银行卡网银密码及位置信息;
        </p>
        <p>
            2.在您使用朵拉购时，我们可能会接触和收集您的以下个人信息：姓名、年龄、性别、职业、出生日期、传真号码、通讯地址、教育、收入状况，婚姻家庭状况、兴趣爱好等。
        </p>
        <h4>3.个人信息的获取方式</h4>
        <p>朵宝科技保证，朵宝科技仅在您接受本协议的前提下，且在向您提供服务过程中获取您的个人信息。主要方式包括：</p>
        <p>1) 通过您提供的网银账户用户名和密码,抓取网上银行系统内显示的余额信息及交易明细信息;</p>
        <p>2) 通过您在开通第三方支付过程中,获取您填写的用户名。用户名仅为开通支付服务所用。</p>
        <h4>4. 信息的使用</h4>
        <p>朵宝科技保证，朵宝科技仅在您接受本协议的前提下，通过向您提供服务的方式使用您的个人信息，具体使用方式如下：</p>
        <p>1)将抓取的信息进行整合和处理，并按朵拉购的不同功能和方式，通过朵拉购向您呈现。</p>
        <p>2)在您使用朵宝科技与第三方合作方共同通过朵拉购向您提供的服务时，朵宝科技可能会将抓取的个人信息提供给朵宝科技合作方</p>
        <p>
            3)朵宝科技为维护您的个人权益可能会将收集到的您的个人信息提供给合作的第三方征信机构。若您在接受其他第三方服务时向第三方提供的了个人信息，该信息不在本协议约定的范围之内，且朵宝科技也无法获取该信息，亦不会向第三方索要该信息。
        </p>
        <p>4) 除本协议明确阐述外，朵宝科技不会以任何其他形式使用您的个人信息。</p>
        <h4>5. 信息的披露和处置</h4>
        <p>
            朵宝科技致力于取得和维护您对我们的信任，因此我们会使用商业上合理的技术和其他措施，帮助防止您的个人信息的丢失和被盗用，并每年至少一次对个人信息的保护情况进行自查，记录自查情况，及时消除自查中发现的安全隐患。同时，请了解朵宝科技仅会在如下情况下向第三方披露或处置您的个人信息：
        </p>
        <p>1)获得您的同意。在您同意的情况下，朵宝科技才会对外披露您的个人信息。</p>
        <p>2)法律法规或公权力部门要求。朵宝科技可能会根据法院、政府等执法机构或法律法规的要求向其披露您信息。</p>
        <p>
            3) 重大交易。如果朵宝科技涉及合并、收购或资产出售等交易，朵宝科技会在任何个人信息进行转让或受其他隐私权政策约束之前，继续确保其保密性并对受到影响方进行及时通知。
        </p>
        <p>
            4) 保护朵宝科技和其他方利益。我们可能会为了保护朵宝科技，朵宝科技员工和客户、合作伙伴和其他公众的合法权利、利益和安全而披露您信息。
        </p>
        <h3 style="margin-top: 0.6rem;">三、 知识产权</h3>
        <p>
            1. 朵宝科技对朵拉购拥有的著作权、商标权、商业秘密以及其他相关的知识产权，包括但不限于各种文档资料、软件、商标、FLASH、设计、图案、音像、摄影、动画、美术等，及其它本协议中未经提及的知识产权均由朵宝科技享有。
        </p>
        <p>
            2. 未经朵宝科技事先书面同意，用户不得为任何营利性或非营利性的目的自行实施、利用、转让或许可任何第三方实施、利用、转让上述知识产权。
        </p>
        <h3 style="margin-top: 0.6rem;">四、 免责条款</h3>
        <p>
            朵拉购是基于互联网为用户提供服务的，互联网的不稳定性及第三方行为的不可控性给互联网的服务埋下了各种隐患，故在下述情况发生时，朵宝科技应免除相应的责任：
        </p>
        <p>
            1. 朵宝科技不就通信系统或互联网的中断或无法运作、技术故障、计算机错误或病毒、信息损坏或丢失或其它在公司合理控制范围之外的原因而产生的其他任何性质的破坏而向用户或任何第三方承担赔偿责任。
        </p>
        <p>
            2. 鉴于目前的技术条件朵宝科技不保证用户在使用朵拉购时在操作上不会中断或没有错误，不保证会纠正朵拉购所有缺陷，亦不保证朵拉购能满足用户的所有要求。
        </p>
        <p>
            3. 朵宝科技不担保其所提供的服务一定能满足用户的要求，也不担保服务不会中断，对网络服务的及时性、安全性、准确性也都不作担保。
        </p>
        <p>
            4. 用户明确同意其使用朵拉购所存在的风险将完全由其自己承担；因其使用本服务而产生的一切后果也由其自己承担，朵宝科技不对用户承担任何责任。
        </p>
        <p>
            5. 用户在此同意朵宝科技在任何情况下都无需向用户或任何第三方在使用朵拉购时对其在传输或联络中的延迟、不准确、错误或疏漏及因此而致使的损害负责。
        </p>
        <p>
            6. 在所适用的法律允许的范围内，朵宝科技均无须就用户个人信息的丢失和/或损坏及任何间接的、附带的、特殊的、后果性的损失向用户负责赔偿
        </p>
        <p>
            7. 如朵宝科技的系统发生故障影响到朵拉购的正常运行，朵宝科技承诺在第一时间内与相关单位配合，及时处理进行修复；但用户因此而产生的经济损失，朵宝科技公司不承担责任；此外，朵宝科技保留不经事先通知为维修保养、升级或其他目的暂停服务任何部分的权利。
        </p>
        <p>
            8. 用户了解并确认朵拉购中可能包含由第三方提供的服务，朵宝科技只是为了用户的便利而提供功能模块，朵宝科技对第三方提供的服务不提供任何形式的保证，同时亦不对商业性的隐含担保，特定目的和不违反规定的适当担保作限制；包括：朵宝科技公司不担保服务一定能满足用户的要求，不担保服务不会中断，及对服务的及时性、安全性、出错或文件丢失的发生，不承担任何赔偿责任；用户自行承担全部风险。
        </p>
        <h3 style="margin-top: 0.6rem;">五、 违约</h3>
        <p>
            1. 用户在使用朵拉购时，应严格遵守本协议的约定。若用户有任何违反本协议或相关法规的规定，朵宝科技有权视用户的行为性质，在不事先通知用户的情况下，采取包括但不限于中断使用许可、限制使用、中止或终止服务、追究法律责任等措施，若因此造成朵宝科技或他人损失的，用户应予赔偿。
        </p>
        <p>
            2. 用户不得利用朵拉购进行任何损害朵宝科技及其合作方或任何其他第三方的利益的行为，否则朵宝科技有权立即终止为用户提供服务，并要求用户赔偿损失，由此产生的后果由用户自行承担，与朵宝科技无关。
        </p>
        <p>
            3. 朵宝科技有权判定您的行为是否符合本协议的要求，出现包括但不限于以下情形的，朵宝科技有权单方在不作通知的情况下终止对您提供的服务，由此产生的风险及责任由您自行承担。如造成朵宝科技损失的，您还应承担赔偿等责任：
        </p>
        <p>1) 用户提供的资料不真实；</p>
        <p>2) 用户违反本协议中规定的使用规则；</p>
        <p>3) 用户未按时足额向朵宝科技公司支付费用（前提如果需要支付费用）；</p>
        <p>4) 用户通过不正当手段产生虚假交易；</p>
        <p>5) 用户违反本协议其它规定，且自朵宝科技公司通知其纠正之日起10个工作日内仍未纠正的。</p>
        <h3 style="margin-top: 0.6rem;">六、 您的选择</h3>
        <p>1. 如果您不希望接受朵宝科技提供的服务，可以通过以下方式选择停用：联系朵宝科技官方客服。（请使用最新的版本）</p>
        <p>
            2. 若您未选择进行以上操作，视为您同意并授权朵宝科技按本协议的约定接触、收集、使用、披露和处置您的个人信息，并同意朵宝科技按本协议的约定向您提供服务。
        </p>
        <h3 style="margin-top: 0.6rem;">七、 执行和变更</h3>
        <p>
            本协议随时都可能变更。未经您的明确同意，朵宝科技不会削减您按照本协议所应享有的权利。朵宝科技会在朵拉购的页面上发布对本协议内容所做的任何变更。对于重大变更，朵宝科技还会提供更为显著的通知（朵宝科技会视变更情况，通过朵拉购发送通知，说明协议内容的具体变更内容）。
        </p>
        <h3 style="margin-top: 0.6rem;">八、 适用法律</h3>
        <p>
            本服务条款的解释，效力及纠纷的解决，适用于中华人民共和国大陆地区法律、法规。若用户和朵宝科技之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交朵宝科技所在地的杭州市余杭区人民法院或其上级法院管辖。
        </p>
        <h3 style="margin-top: 0.6rem;">九、 问题与投诉</h3>
        <p>如果您对本协议有任何问题，请通过以下途径联系朵宝科技：</p>
        <p>A. 登陆我们的网站给我们留言： https://www.dorago.cn/</p>
        <p>B. 客服电话：4006606809</p>
        <p>C. 微信公众号：朵拉购</p>
        <p>朵宝科技会尽最大努力在合理时间内回复您。</p>
    </div>
    <script src="js/jquery-1.9.1.min.js"></script>
    <script src="js/common.js"></script>
    <script src="js/TouchSlide.1.1.js"></script>
</body>
</html>