<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>在线咨询</title>
</head>
<body>
    <script src="http://cdn.bootcss.com/jquery/2.0.1/jquery.min.js"></script>
    <script type='text/javascript'>
    (function(m, ei, q, i, a, j, s) {
        m[i] = m[i] || function() {
            (m[i].a = m[i].a || []).push(arguments)
        };
        j = ei.createElement(q),
            s = ei.getElementsByTagName(q)[0];
        j.async = true;
        j.charset = 'UTF-8';
        j.src = '//static.meiqia.com/dist/meiqia.js';
        s.parentNode.insertBefore(j, s);
    })(window, document, 'script', '_MEIQIA');
        _MEIQIA('entId', 45157);
        _MEIQIA('manualInit');
        _MEIQIA('init');
</script>
</body>
</html>