<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="telephone=no" />
	
	<title>产品规格</title>
	 <style>
    .aa img {width: 100%};
    table{display:inline-block; }
    td.tdTitle { width: 80px};
    table td{ border-bottom: 1px solid red; }
    </style>
<script src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
    new function (){
        var _self = this;
        _self.width = 768;//设置默认最大宽度
        _self.fontSize = 100;//默认字体大小
        _self.widthProportion = function(){
            var p = (document.body&&document.body.clientWidth||document.getElementsByTagName("html")[0].offsetWidth)/_self.width;
            return p>1?1:p<0.4?0.5:p;
        };//判断当前屏幕尺寸，设置的最大屏幕宽度之间的比例
        _self.changePage = function(){
            document.getElementsByTagName("html")[0].setAttribute("style","font-size:"+_self.widthProportion()*_self.fontSize+"px !important");
        }//修改根元素html的font-size的植
        _self.changePage();
        window.addEventListener('resize',function(){
            _self.changePage();
        },false);//侦听屏幕宽度变化
    };
</script>
</head>
<body style='font-size: 14px;'>
<div class="aa" style="width:100%">
{$data}
            </div>
	 
</body>

												</html>