<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>女神专题活动</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="zhuanti/css/index.css"/>
		<script type="text/javascript">
			(function(doc, win) {
				var docEl = doc.documentElement,
					resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
					recalc = function() {
						var clientWidth = docEl.clientWidth;
						if(!clientWidth) return;
						if(clientWidth >= 640) {
							docEl.style.fontSize = '100px';
						} else {
							docEl.style.fontSize = 100 * (clientWidth / 640) + 'px';
						}
					};

				if(!doc.addEventListener) return;
				win.addEventListener(resizeEvt, recalc, false);
				doc.addEventListener('DOMContentLoaded', recalc, false);
			})(document, window);
		</script>
	</head>
	<body>
		<div class="wrap">
			<ul class="ul1">
				<li class="ul1_li1">
					<img src="zhuanti/img/pic1.png"/>
				</li>
				<li class="ul1_li2">
					<img src="zhuanti/img/pic2.png" class="liuyifei1_bg" />
					<a href="haleyaction://productDetail?product_id=6332"><img src="zhuanti/img/liuyifei1.png" class="liuyifei1"/></a>
					<a href="haleyaction://productDetail?product_id=1798"><img src="zhuanti/img/liuyifei2.png" class="liuyifei2"/></a>
					<a href="haleyaction://productDetail?product_id=2675"><img src="zhuanti/img/liuyifei3.png" class="liuyifei3"/></a>
					<a href="haleyaction://productDetail?product_id=4047"><img src="zhuanti/img/liuyifei4.jpg" class="liuyifei4"/></a>
				</li>
				<li class="ul1_li3">
					<img src="zhuanti/img/pic3.png" alt="" class="tangwei_bg"/>
					<a href="haleyaction://productDetail?product_id=3161"><img src="zhuanti/img/tangwei1.png" class="tangwei1"/></a>
					<a href="haleyaction://productDetail?product_id=7330"><img src="zhuanti/img/tangwei2.png" class="tangwei2"/></a>
					<a href="haleyaction://productDetail?product_id=3373"><img src="zhuanti/img/tangwei3.png" class="tangwei3"/></a>
					<a href="haleyaction://productDetail?product_id=19500"><img src="zhuanti/img/tangwei4.png" class="tangwei4"/></a>
				</li>
				<li class="ul1_li4">
					<img src="zhuanti/img/pic4.png" alt="" class="baby_bg"/>
					<a href="haleyaction://productDetail?product_id=1960"><img src="zhuanti/img/baby1.png" class="baby1"/></a>
					<a href="haleyaction://productDetail?product_id=6227"><img src="zhuanti/img/baby2.png" class="baby2"/></a>
					<a href="haleyaction://productDetail?product_id=6291"><img src="zhuanti/img/baby3.png" class="baby3"/></a>
					<a href="haleyaction://productDetail?product_id=6633"><img src="zhuanti/img/baby4.png" class="baby4"/></a>
				</li>
				<li class="ul1_li5">
					<img src="zhuanti/img/pic5.png" alt="" class="gaoyuan_bg"/>
					<a href="haleyaction://productDetail?product_id=24313"><img src="zhuanti/img/gaoyuan1.png" class="gaoyuan1"/></a>
					<a href="haleyaction://productDetail?product_id=5372"><img src="zhuanti/img/gaoyuan2.png" class="gaoyuan2"/></a>
					<a href="haleyaction://productDetail?product_id=2052"><img src="zhuanti/img/gaoyuan3.png" class="gaoyuan3"/></a>
					<a href="haleyaction://productDetail?product_id=2000"><img src="zhuanti/img/gaoyuan4.png" class="gaoyuan4"/></a>
				</li>
				<li class="ul1_li6">
					<img src="zhuanti/img/pic6.png" alt="" class="sunli_bg"/>
					<a href="haleyaction://productDetail?product_id=3773"><img src="zhuanti/img/sunli1.png" class="sunli1"/></a>
					<a href="haleyaction://productDetail?product_id=2210"><img src="zhuanti/img/sunli2.png" class="sunli2"/></a>
					<a href="haleyaction://productDetail?product_id=4194"><img src="zhuanti/img/sunli3.png" class="sunli3"/></a>
					<a href="haleyaction://productDetail?product_id=6582"><img src="zhuanti/img/sunli4.png" class="sunli4"/></a>
				</li>
			</ul>
			<ul class="ul2">
				<li style="width: 100%;text-align: center;">
					<img src="zhuanti/img/more.png" style="width: 70%;"/>
				</li>
				<a href="haleyaction://productDetail?product_id=24074">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t397/226/239554559/76795/b5b9fe52/5412897cN34933206.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】纪梵希（Givenchy）轻盈无痕明星四色散粉2号 4x3g（四宫格幻彩蜜粉 粉饼 定妆控油 多色）
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>468.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=23801">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t1420/217/368327896/78430/5c82e22d/55794568Nbde26272.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】迪奥（Dior）魅惑润唇蜜004 3.5g（丰唇膏 口红 橘色）新老包装交替
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>289.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=6455">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/g14/M04/02/04/rBEhVlHEC8IIAAAAAAGZLOdQMZMAAAanAPzqqwAAZlE845.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】谜尚（MISSHA）魅力润透妆前乳40ML（保湿锁水 滋养肌肤 提亮肤色）
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>109.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=2087">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t3178/244/5791138896/248373/7fcfe44b/58855e50N567f8d04.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】御泥坊 红石榴鲜活亮颜面膜贴套装 21片装（补水保湿 鲜活亮肤焕彩）
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>199.90</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=24418">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t1000/39/251265677/63664/765393d1/550fd5e4N160d91a9.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】娇兰幻彩流星珍珠粉球01号（又名娇兰幻彩流星粉球 粉饼 粉底 散粉）25g
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>430.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=4749">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t1804/59/906263244/50722/81b5c375/55dd6597Ne9d979bf.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】菲诗小铺（THE FACE SHOP）芦荟清新舒缓喷雾130ml（爽肤水 补水保湿）
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>49.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=6297">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t2608/219/1014864420/43063/c39bb3d6/5730041fN6d681b98.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】雅漾（Avene）舒护活泉喷雾50ml（小喷 补水 舒缓 保湿 定妆）
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>85.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=4508">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t1906/357/874912655/166829/cb147eeb/562f482aNbbb7c67f.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】百雀羚 水嫩倍现臻美套装（洁面+精华水+精华乳）(滋肌润颜，充盈补水)（新老包装随机）
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>188.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=25209">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/jfs/t3163/119/4085631295/68913/a52c07ac/57ff737dN3e975699.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】理肤泉 B5多效修复霜40ml赠喷雾50ml
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>119.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
				<a href="haleyaction://productDetail?product_id=6762">
					<li>
						<div class="product_img">
							<img src="http://img13.360buyimg.com/n1/g10/M00/1D/03/rBEQWVNeJFoIAAAAAAGgcG_AwFoAAFtKgDPa_QAAaCI557.jpg" alt="" />
						</div>
						<div class="product_name">
							【京东超市】百雀羚 水嫩精纯明星美肌水100ml(滋肌润颜，补水保湿)
						</div>
						<div class="product_price">
							<p><span style="font-size: 0.28rem;">￥</span>103.00</p>
						</div>
						<div class="product_btn">
							立即抢购
						</div>
					</li>
				</a>
			</ul>
		</div>
	</body>
	<script src="" type="text/javascript" charset="utf-8"></script>
</html>
